
.header {
  font-size: min(max(16px, 4vw), 24px);
}

.close {
  display: inline-block;
  border: none;
  outline: none; 
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  color: red;
}

.close:hover {
  border: none;
  outline: none; 
  opacity: 1;
  color: red;
}

.close:before, .close:after {
  border: none;
  outline: none; 
  position: absolute;
  left: 0px;
  content: ' ';
  height: 15px;
  width: 4px;
  background-color: red;
}

.close:before {
  outline: none; 
  border: none;
  transform: rotate(45deg);
}

.close:after {
  outline: none; 
  border: none;
  transform: rotate(-45deg);
}

.close:focus {
  outline: none; 
  border: none;
}